body{
    color:#000000;
    margin-left:58px;
    height:2358px;
    width:1728px;
    background-color: white;

}
#section1{
    width: 1643px;
    height: 648.57px;
    border: solid #000000 2px;
}
#section2{
    width: 1051px;
    height: 894px;
}
#section3{
    width: 1623px;
    height: 469px;
    margin-top: 50px;
    padding-top: 10px;
}
h1{
    font-family: Inter;
    font-size: 64px;
    font-weight: 700;
    line-height: 77px;
    letter-spacing: 0em;
    text-align: left;

}
.description{
    font-family: Inter;
    font-size: 40px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
}



